// Buttons
// btn-primary
.btn-primary {
    display: inline-block;
    padding: 20px 30px;
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    font-style: normal;
    border-radius: 6px;
    color: var(--tc-neutral-0);
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background-color: var(--tc-theme-primary);
    border: 0;
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--tc-theme-primary);
        z-index: -2;
    }
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: var(--tc-theme-primary-dark);
        transition: all 0.3s;
        z-index: -1;
    }
    &:hover {
        &:before {
            width: 100%;
        }
    }
}
// btn-black
.btn-black {
    display: inline-block;
    padding: 20px 30px;
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    font-style: normal;
    border-radius: 6px;
    border: 2px solid transparent;
    color: var(--tc-neutral-0);
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--tc-neutral-1000);
        z-index: -2;
    }
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: #2c2c2c;
        transition: all 0.3s;
        z-index: -1;
    }
    &:hover {
        &:before {
            width: 100%;
        }
    }
}
// btn gradient
.btn-gradient {
    display: inline-flex;
    padding: 20px 30px;
    align-items: flex-start;
    border-radius: 6px;
    background-image: var(--tc-gradient-1);
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    border: none;
    border-radius: 6px;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 16px 32px 0px rgba(249, 71, 67, 0.3);
    cursor: pointer;
    outline: none;
    &:hover {
        // box-shadow: 0px 15px 20px rgba(243, 76, 73, 0.815);
        transform: translateY(-5px);
    }
}
// btn icon
.btn-icon {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 0.92969rem;
    font-weight: 400;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
}
.btn-icon.btn-xs {
    font-size: 0.75rem;
    width: 1.53125rem;
    height: 1.53125rem;
}
.btn-icon.btn-sm {
    font-size: 0.875rem;
    width: 2.1875rem;
    height: 2.1875rem;
}
.btn-icon.btn-lg {
    font-size: 1rem;
    width: 3.36875rem;
    height: 3.36875rem;
}
// btn shadow
.btn-shadow {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    &:hover {
        // transform: scale3d(1.02, 1.02, 1.01);
        box-shadow: 0 0.25rem 1rem rgba(55, 53, 58, 0.3);
    }
}
// btn logo
.btn-logo {
    @media (max-width: 990px) {
        border-radius: 50%;
        height: 56px;
        width: 56px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
}
// btn lift
.btn-lift {
    transition:
        transform 0.2s ease-in-out,
        border-color 0.2s ease-in-out,
        background-color 0.2s ease-in-out,
        box-shadow 0.2s ease-in-out;
    &:hover {
        box-shadow: $box-shadow-sm;
        transform: translateY(-0.25rem);
        border-color: var(--tc-theme-primary);
    }
}
// Price Switch
.price-wrapper {
    .price-switcher-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        .price-switchers {
            width: 2rem;
            height: 1rem;
            clear: both;
            text-align: center;
            position: relative;
            background-color: var(--tc-neutral-200);
            border-radius: 1.5rem;
            border: 0.2rem solid transparent;
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box;
            .price-switcher {
                cursor: pointer;
                width: 100%;
                float: left;
                height: 1rem;
                line-height: 1rem;
                position: relative;
                z-index: 888;
                transition: 0.3s ease-in-out;
                text-transform: uppercase;
                &:nth-child(1).price-switcher-active ~ .switcher-button {
                    left: 0;
                }
                &:nth-child(2).price-switcher-active ~ .switcher-button {
                    left: 50%;
                }
            }
            .switcher-button {
                height: 1rem;
                width: 1rem;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 555;
                margin: 0;
                border: none;
                transition: 0.3s ease-in-out;
                border-radius: 100%;
            }
            .price-switcher.price-switcher-active {
                color: var(--tc-neutral-0);
            }
        }
    }
    .price-text {
        position: relative;
        height: 2.3rem;
        .price {
            position: absolute;
            display: flex;
            justify-content: center;
        }
        .price-hidden {
            display: none;
        }
        .price-show {
            animation: priceAnimationShow 0.6s forwards;
        }
        .price-hide {
            animation: priceAnimationFade 0.6s forwards;
        }
    }
}
@keyframes priceAnimationFade {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(80%);
    }
}
@keyframes priceAnimationShow {
    0% {
        opacity: 0;
        transform: translateY(-80%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
// btn arrow
.btn-arrow {
    position: relative;
    .icon-arrow {
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 1rem;
        opacity: 0;
        transition: opacity 0.35s ease;
        color: var(--tc-neutral-800);
    }
    &:hover {
        .icon-arrow {
            opacity: 1;
        }
    }
}
// Progress bottom to top
.btn-scroll-top {
    position: fixed;
    right: 1.5rem;
    bottom: 1.5rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    display: block;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0.1rem rgba(227, 229, 233, 0.25);
    z-index: 1010;
    opacity: 0;
    visibility: hidden;
    transform: translateY(0.75rem);
    transition:
        all 0.2s linear,
        margin-right 0s;
    background-color: var(--tc-neutral-0);
    &:after {
        position: absolute;
        font-family: 'bootstrap-icons' !important;
        content: '\F145';
        text-align: center;
        line-height: 3rem;
        font-size: 1.5rem;
        color: var(--tc-theme-primary);
        left: 0;
        top: 0;
        height: 3rem;
        width: 3rem;
        cursor: pointer;
        display: block;
        z-index: 1;
        transition: all 0.2s linear;
    }
    &.active-progress {
        visibility: visible;
        transform: translateY(0);
        @media (min-width: 320px) {
            opacity: 1;
        }
    }
    & svg path {
        fill: none;
    }
    & svg.progress-square path {
        stroke: var(--tc-theme-primary);
        stroke-width: 2;
        box-sizing: border-box;
        transition: all 0.2s linear;
    }
}
// pulse wave
.play-btn {
    font-size: 24px;
    line-height: 32px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.85);
    &:before {
        content: '';
        position: absolute;
        width: 150%;
        height: 150%;
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
        -webkit-animation: pulsate1 2s;
        animation: pulsate1 2s;
        -webkit-animation-direction: forwards;
        animation-direction: forwards;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: steps;
        animation-timing-function: steps;
        opacity: 1;
        border-radius: 50%;
        border: 5px solid var(--tc-border-1);
        box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px 0px;
    }
}
@-webkit-keyframes pulsate1 {
    0% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
        box-shadow: none;
    }
}
@keyframes pulsate1 {
    0% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1);
        opacity: 0;
        box-shadow: none;
    }
}
button:focus {
    outline: none;
}
// custom btn by me!
.btn-sm {
    max-width: 70px;
    max-height: 22px;
    display: inline-flex;
    padding: 5px 7px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: var(--Liner, linear-gradient(90deg, #f94743 0%, #ff7b49 100%));
    color: var(--White, #fff);
    font-family: var(--tc-body-font-family);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 12px */
    letter-spacing: -0.36px;
    margin-right: 10px;
}
.btn-white {
    display: inline-block;
    border: 2px solid var(--tc-border-1);
    padding: 20px 30px;
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    font-style: normal;
    border-radius: 6px;
    color: #000;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--tc-neutral-0);
        z-index: -2;
    }
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: var(--tc-border-1);
        transition: all 0.3s;
        z-index: -1;
    }
    &:hover {
        &:before {
            width: 100%;
        }
    }
}
// Avatar
$avatar-size-xs: 1.5rem !default;
$avatar-size-sm: 2rem !default;
$avatar-size-md: 2.5rem !default;
$avatar-size-lg: 3.5rem !default;
$avatar-size-xl: 5rem !default;
$avatar-size-xxl: 7rem !default;
// Icon
$icon-size-xxs: 1rem !default;
$icon-size-xs: 1.5rem !default;
$icon-size-sm: 2rem !default;
$icon-size-md: 2.5rem !default;
$icon-size-lg: 3rem !default;
$icon-size-xl: 3.5rem !default;
$icon-size-xxl: 4rem !default;
$icon-size-xxxl: 7rem !default;
.icon-xl {
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
}
.icon-shape {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}
// Icon shape
.icon-xxs {
    width: $icon-size-xxs;
    height: $icon-size-xxs;
    line-height: $icon-size-xxs;
}
.icon-xs {
    width: $icon-size-xs;
    height: $icon-size-xs;
    line-height: $icon-size-xs;
}
.icon-sm {
    width: $icon-size-sm;
    height: $icon-size-sm;
    line-height: $icon-size-sm;
}
.icon-md {
    width: $icon-size-md;
    height: $icon-size-md;
    line-height: $icon-size-md;
}
.icon-lg {
    width: $icon-size-lg;
    height: $icon-size-lg;
    line-height: $icon-size-lg;
}
.icon-xl {
    width: $icon-size-xl;
    height: $icon-size-xl;
    line-height: $icon-size-xl;
}
.icon-xxl {
    width: $icon-size-xxl;
    height: $icon-size-xxl;
    line-height: $icon-size-xxl;
}
.icon-xxxl {
    width: $icon-size-xxxl;
    height: $icon-size-xxxl;
    line-height: $icon-size-xxxl;
}
.icon-80px {
    width: 80px;
    height: 80px;
    line-height: 80px;
}
.icon-shape {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}
